.login__body{
  height: 100vh;
  width: 100%;
  background-image: url(./../../../assets/clg.jpg);
  background-size: cover;
  /* padding: 20px; */
  justify-content: flex-start;
}
.login__div{
  /* padding: 20px; */
  backdrop-filter: blur(10px); /* apply the blur effect */
  width: 40%;
  /* border-radius: 25px; */
  /* border: 2px #308edb9a solid; */
  text-align: center;
  transition: 2s ease-in-out;
  overflow: hidden ;
}
.login__head{
  height: 40%;
}
.login__title{
  font-size: 42px;
  font-weight: 600;
}
.login__form{
  height: 60%;
  outline: none;
  gap: 20px;
}

.login__form--input{
  background-color: #ffffff28;
  border-radius: 10px;
  border: 2px #C83644 solid;
  font-size: 25px;
  padding: 2px;
  text-align: center;
  width: 100%;
  max-width: 400px;
}
.login__form--btn{
  font-size: 25px;
  background-color: #FF855D;
  border: none;
  width: fit-content;
  border-radius: 10px;
  padding: 4px 20px;
  cursor: pointer;
  transition: .2s linear;
}
.login__form--btn:hover{
  background-color: #ff865d7e;
}
.login__door{
  font-size: 25px;
  position: absolute;
  background-color: #ff865d7e;
  padding: 30px 40px;
  border: #C83644 4px solid;
  border-radius: 15px;
  transition: 2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  left: 15%;
}
.login__door:hover{
  background-color: #FF855D;
}
.login__footer{
  color: #FF855D;
}