.toDos__body{
  background-color: #fff;
  padding: 0 20px 0 20px ;
}
.toDos__today{
  min-height: 75px;
  max-height: 150px;
  height: 20%;
  font-size: larger;
  justify-content: center;
  align-items: center;
  background-color: #F6F7FB;
  border-top: 6px solid #FF8D4B;
  border-left: 6px solid #FF8D4B;
  border-bottom: 6px solid #AD48FF;
  border-right: 6px solid #0067FF;
  border-radius: 25px;
  padding: 20px ;
}
.toDos__events{
  height: 60%;
  overflow-y: auto;
}
.toDos__color{
  color: gray;
}
.toDos__gap-20{
  gap: 20px;
}