.login {
  display: flex;
  height: 100vh;
  /* padding: 20px; */
}
.login__banner {
  width: 60%;
  background-image: url("/public/static/login_bg.jpg");
  background-position: center;
  background-size: cover;
  /* border-radius: 20px; */
}

.login__textBox {
  width: 40%;
  padding: 40px;
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-direction: column;
  text-align: center;
}
.login__logo {
  font-family: "Bruno Ace SC", cursive;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.login__form {
  width: 350px;
  margin: 0 auto;
}
.login__form > h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}
.login__form > p {
  color: gray;
}
.login__select {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}
.loginInput {
  display: flex;
  width: 100%;
  gap: 10px;
  margin-bottom: 20px;
}
.loginInput:last-child() {
  margin-bottom: 0;
}
.loginInput__label {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginInput__input {
  border: none;
  border-left: 2px solid gray;
  width: 100%;
  outline: none;
  padding-left: 10px;
  font-size: 16px;
}
.login__button {
  padding: 5px 20px;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 18px;
  width: 60%;
}
/* utility  */
.input {
  border: 2px solid gray;
  border-radius: 10px;
  padding: 5px 20px;
  font-size: 16px;
}
