.feesSummary {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.feesSummary__box {
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feesSummary__box--title {
  margin: 10px 0 5px;
}
