.feesAndWaiverPage {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: fit-content;
  gap: 20px;
}
.feesAndWaiverPage__card {
  padding: 20px;
  border-radius: 20px;
}
.feesAndWaiverPage__title {
  font-weight: 700;
  margin-bottom: 20px;
}
.feesAndWaiverPage__card--row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}
.feesAndWaiverPage__card--amount {
  font-size: 20px;
  font-weight: 700;
}
