.color__black--text {
  color: #000;
}
.color__body {
  width: 30%;
  background-color: #f3f7f9;
  border-radius: 25px;
  padding: 20px;
}
.color__container {
  justify-content: space-evenly;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.color__div {
  align-items: center;
  gap: 10px;
}
.cgpa__color {
  width: 20px;
  height: 10px;
  background-color: rgb(173, 72, 255);
  border-radius: 25px;
}
.sgpa__color {
  width: 20px;
  height: 10px;
  background-color: rgb(255, 141, 75);
  border-radius: 25px;
}
