.sidebar__root {
  height: 100%;
  padding: 20px;
}

.sidebar__logo {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-family: "Bruno Ace SC", cursive;
}

.sidebar__links {
  display: grid;
  gap: 10px;
}
