.cgpa__title {
  padding-bottom: 3em;
  color: #000;
}
.cgpa__body {
  background-color: #fff;
  border-radius: 25px;
  padding: 20px;
  color: #808080;
}
.cgpa__container {
  height: 350px;
  max-height: 40vh;
  justify-content: space-around;
}
.cgpa__parent__div {
  align-items: center;
  gap: 2px;
}
.cgpa__div {
  width: 10px;
  border-radius: 25px 0px 0px 25px;
  background: #000;
  background-color: #F6F7FB;
}
.sgpa__div {
  width: 10px;
  border-radius: 0px 25px 25px 0px;
  background: #000;
  background-color: #F6F7FB;
}
.cgpa {
  /* height: 30px; */
  background-color: rgb(173, 72, 255);
  border-radius: 25px 0px 0px 25px;
}
.sgpa {
  /* height: 30px; */
  background-color: rgb(255, 141, 75);
  border-radius: 0px 25px 25px 0px;
}
.cgpa__lvl {
  /* padding-right: 20px; */
  padding-bottom: 20px;
  justify-content: space-between;
}
