.global__root {
  display: flex;
  height: 100vh;
}

.global__section--first {
  width: 25%;
}

.global__section--second {
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.global__section--second::-webkit-scrollbar {
  display: none;
}

.global__section--third {
  width: 40%;
}
