.global__root {
  display: flex;
  height: 100vh;
}

.global__section--sidebar {
  width: 20%;
  background-color: white;
}

.global__section--body {
  width: 100%;
  overflow-y: auto;
  background-color: #f6f7fb;
}

.global__section--body::-webkit-scrollbar {
  display: none;
}

