.navlink__root {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 8px;
  border-radius: 10px;
  text-decoration: none;
}

.navlink__root--active {
  background: linear-gradient(
    to right,
    rgba(254, 121, 121, 0.157),
    rgba(254, 121, 121, 0.039)
  );
}

.navlink__root--active .navlink__icon {
  color: #5a62b3;
}

.navlink__root--active .navlink__name {
  color: #1e3a8a;
}

.navlink__icon {
  background-color: white;
  padding: 6px;
  border-radius: 10px;
  line-height: 0;
  color: rgb(128, 128, 128);
  font-size: 20px;
}

.navlink__name {
    font-size: 15px;
  font-weight: 500;
  color: gray;
  text-transform: capitalize;
}
