@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* *********** global styles *********** */
*,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* Hide scrollbar for all browsers */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

/* hide number arrow */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.sidebar--logo {
  text-transform: uppercase;
  font-family: "Bruno Ace SC", cursive;
}
.modal {
  background: rgba(0, 0, 0, 0.5);
  height: 100dvh;
  position: absolute;
  width: 100vw;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* *********** tailwind combined styles *********** */
@layer components {
  .center--y {
    @apply flex items-center;
  }
  .center--xy {
    @apply flex items-center justify-center;
  }
  .animation {
    @apply transition-all duration-300;
  }
  .card {
    @apply bg-white rounded-md;
  }
  .button-primary {
    @apply px-10 py-2 border-2 border-transparent rounded-lg font-semibold hover:border-[#4D44B5] bg-[#4D44B5] text-white hover:bg-transparent hover:text-[#4D44B5] mx-auto animation;
  }
}
