*,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary-light: "";
  --color-primary-dark: "";
  --color-secondary-light: "";
  --color-secondary-dark: "";
}

/* *********** utility class *********** */

/* ********* display *********  */
.text-justify {
  text-align: justify;
}
.flex {
  display: flex;
}
.center-y {
  display: flex;
  align-items: center;
}
.center-xy {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ********* font-weight *********  */
.font-semibold {
  font-weight: 700;
}
